<table>
    <tr>
        <td>Full name:</td><td><input type="text" name="full_name" {% if staff is defined %}value="{{staff.full_name}}"{% endif %}></td>
    </tr>
    <tr>
        <td>Username:</td><td><input type="text" name="username" {% if staff is defined %}value="{{staff.username}}"{% endif %}></td>
    </tr>
    <tr>
        <td>Password:</td><td><input type="text" name="password" {% if staff is defined %}value="{{staff.password}}"{% endif %}></td>
    </tr>
    <tr>
        <td>Employee Type</td><td><input type="text" name="employee_type" {% if staff is defined %}value="{{staff.employee_type}}"{% endif %}></td>
    </tr>
    <tr>
        <td>Email:</td><td><input type="text" name="email" {% if staff is defined %}value="{{staff.email}}"{% endif %}></td>
    </tr>
    <tr>
        <td>Phone:</td><td><input type="text" name="phone" {% if staff is defined %}value="{{staff.phone}}"{% endif %}></td>
    </tr>
    <tr>
        <td></td><td><input type="submit" value="Save"></td>
    </tr>
</table>
