
<div class="gray-area">
    <h1>Customer Details</h1>
    <div>
        <span>Customer ID: {{ customer.customer_id }}</span><br>
        <span>Full Name: {{ customer.full_name }}</span><br>
        <span>sex: {{ customer.sex }}</span><br>
        <span>age: {{ customer.age }}</span><br>
        <span>height: {{ customer.height }}</span><br>
        <span>weight: {{ customer.weight }}</span><br>
        <span>email: {{ customer.email }}</span><br>
        <span>phone: {{ customer.phone }}</span><br>
        <span>Username: {{ customer.username }}</span><br>
    </div>
</div>
